<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeModuleType">
      <runtimeModuleType
            id="com.google.cloud.tools.eclipse.appengine.standard.runtime.additions.java8"
            runtimeTypes="com.google.cloud.tools.eclipse.appengine.standard.runtime">
         <moduleType
               types="jst.web"
               versions="3.0,3.1">
         </moduleType>
      </runtimeModuleType>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.groups">
      <members
            group="com.google.cloud.tools.eclipse.appengine.facets.standard.constraints.servlet">
         <include
               facet="jst.web"
               versions="[2.5,3.1]">
         </include>
      </members>
      <members
            group="com.google.cloud.tools.eclipse.appengine.facets.standard.constraints.jre">
         <include
               facet="java"
               versions="1.8">
         </include>
      </members>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-version
            type="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            version="8">
      </runtime-component-version>
      <supported>
         <runtime-component
               id="com.google.cloud.tools.eclipse.appengine.standard.runtime"
               version="8"></runtime-component>
         <facet
               id="com.google.cloud.tools.eclipse.appengine.facets.standard"
               version="1">
         </facet>
         <facet
               id="jst.web"
               version="[2.5,3.1]">
         </facet>
         <facet
               id="java"
               version="[1.7,1.8]">
         </facet>
      </supported>
	</extension>
    <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            id="com.google.cloud.tools.eclipse.appengineJava8RuntimeFacetMapping"
            runtimeTypeId="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            runtime-component="com.google.cloud.tools.eclipse.appengine.standard.runtime"
            version="8">
      </runtimeFacetMapping>
   </extension>
</plugin>
